* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.landing {
  background-color: #ffbbbb;
  color: #222;
  min-height: 500px;
}

.landing nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing nav ul {
  display: flex;
  list-style-type: none;
}

.landing nav li {
  padding: 15px 30px;
}

.landing nav li .selected {
  font-weight: bold;
}

.landing nav a {
  color: #222;
}

.landing nav a:hover {
  color: #004958;
}

.landing-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-content h1 {
  font-size: 50px;
  line-height: 1.2;
}

.landing-content img {
  border-radius: 180px;
  width: 500px;
}

.landing-content ul {
  display: inline-block;
  list-style-type: none;
}

.landing-content .contact-title {
  font-weight: bold;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 0 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 10px;
  padding: 8px 20px;
  margin: 3px;
}

.btn-primary:hover, .btn-secondary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #ffd5d5;
  color: #222;
}

.btn-secondary {
  background-color: #00748b;
  color: #fff;
}

@media (max-width: 700px) {
  .landing {
    min-height: 400px;
    padding-bottom: 1rem;
  }
  .landing-content {
    text-align: center;
  }
  .landing-content img {
    display: none;
  }
  .landing nav li {
    padding: 10px;
  }
  .container {
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
  }
}
