%btn {
    display: inline-block;
    border-radius: 0.8rem;
    border: 0;
    padding: 0.5rem 2rem;
    margin: 0.25rem;
    &:hover {
        transform: scale(0.98);
    }
}

.btn-primary {
    @extend %btn;
    @include set-background(lighten($primary-color, 5%));
}

.btn-secondary {
    @extend %btn;
    @include set-background($secondary-color);
}
